@import '../../../styles/variables.scss';
.button-container{
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  &.primary{
    background-color: $btn-bg-primary;
    .button-content {
      font-weight: 500;
      font-family: Oswald, sans-serif;
      color: $btn-text-primary;
    }
  }

  // &.secondary{
  //   background-color: #f3f5f6 ;
  //   border-radius: 3px;
  //   .button-content {
  //     font-weight: 600;
  //     font-family: Quicksand, sans-serif;
  //     color: #3b3b3c;
  //     font-size: 16px;
  //   }
  // }
}