@import "@/styles/variables.scss";
.alcohol-list{
  text-align: center;
  .alcohol-category{
    font-family: Oswald, sans-serif;
    color: $text-secondary;
    font-weight: 500;
    font-size: 3rem;
    margin: 40px 0 35px 0 ;
  }
  .category-description{
    font-size: 1.5rem ;
    margin: 0 0 30px 0;
    line-height: 2.3rem;
  }

  .alcohol-list-pagination{
    margin: 20px 0;
  }
  .item-block{
    display: flex;
    justify-content: center;
    max-width: 100%;
    @media screen and (min-width: 768px){
      max-width: 50%;
    }
    @media screen and (min-width: 992px){
      max-width: 25%;
    }
    @media screen and (min-width: 1200px){
      max-width: 20%;
    }
  }
}