@import '../../styles/variables.scss';
.footer-upper {
  .footer-block {
    .footer-upper-block {
      .mail-input {
        width: 75%;
      }

      .mail-register {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 500;
        gap: 8px;
      }

      .connect-me-block {
        display: flex;
        font-size: 1.5rem;
        font-weight: 500;
        align-items: center;
        justify-content: space-between;

        .facebook-icon {
          font-size: 3.5rem;
          // color: #3b5998;
        }
      }

    }
  }
}
.footer-middle{
  height: 500px;
  margin: 50px 0 0 0;
  .logo-desc{
    font-size: 1.6rem;
  }
  .footer-item{
    li{
      font-size: 1.6rem;

    }
  }
}

.footer-below-block{
  padding: 13px 0 10px 0 ;
  width: 100%;
  height: 50px;

}
.footer-below-block h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 1.5rem;
  gap: 5px;
  p{
    color: $text-secondary;
  }
}