@import "@/styles/variables.scss";

.product-details-block {
  margin: 6rem auto;
  max-width: 1200px;

  .product-image {
    width: 100%;
    height: 550px;
    object-fit: contain;
    margin: 0 15px 0 0;
  }

  .product-detail-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .product-detail-name {
      font-size: 2rem;
      font-family: "Oswald", sans-serif;
      color: $text-secondary;
      font-weight: 500;
    }

    .price-line {
      width: 100%;
      height: 1px;
      background-color: #ccc;
    }

    .product-detail-identifier {
      font-size: 1.2rem;
      font-weight: 700;
      color: $text-primary;
    }

    .product-detail-price {
      font-size: 1.9rem;
      font-weight: 500;
      color: red;
    }

    .product-detail-label {
      color: $text-secondary;
      font-weight: 700;
    }

    .product-detail-info-label {
      font-weight: 700;
    }
  }
}